# Dependências
node_modules/
.next/

# Ambiente
.env*
!.env.example

# Prisma
/prisma/*.db

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
*.log

# Build
dist/
out/

# Testes
coverage/

# Outros
*.swp
*.swo

# Local Netlify folder
.netlify
